nav {
    background-color: #c7e1ff;
    font-size: 25px;
}

    nav ul {
        display: flex;
        list-style: none;
    }

        nav ul li {
            margin: 20px;
            transition: 0.3s ease;
            border: 0px solid transparent;
            width: 120px;
            height: 30px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
        }

            nav ul li a {
                text-decoration: none;
                color: #4a90e2;
            }

            nav ul li:hover {
                box-shadow: 0px 0px 20px #f2c200;
                transform: scale(1.05);
                background-color: #afcffd;
            }

.reg {
    margin-left: 1000px;
}



.dropdown-content {
    display: none;
    position: absolute;
    top: 45px;
    background: #d9ecff;
    border-radius: 6px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 100;
    overflow: hidden;
}

    .dropdown-content a {
        display: flex;
        flex-direction: column;
    }

.dropdown:hover .dropdown-content {
    display: block;
}
