nav {
    background-color: #E6D5BF;
    font-size: 25px;
    box-shadow: 0 4px 12px rgba(74, 58, 42, 0.15);
    position: relative;
    z-index: 9999;
}

    nav ul {
        display: flex;
        list-style: none;
        margin-top: 1px;
    }

        nav ul li {
            margin: 20px;
            transition: 0.3s ease;
            border: 0px solid transparent;
            width: 120px;
            height: 30px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
        }

            nav ul li a {
                text-decoration: none;
                color: #4A3A2A;
            }

            nav ul li:hover {
                box-shadow: 0px 0px 20px rgba(212, 163, 115, 0.8);
                transform: scale(1.05);
                background-color: #FFF6E8;
            }

.reg {
    margin-left: 1000px;
}



.dropdown-content {
    display: none;
    position: absolute;
    top: 45px;
    background: #FFFDF9;
    border-radius: 6px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(74, 58, 42, 0.25);
    overflow: hidden;
    border: 1px solid #C8B9A6;
    z-index: 10000;
}

    .dropdown-content a {
        display: flex;
        flex-direction: column;
        color: #4A3A2A;
    }

        .dropdown-content a:hover {
            background-color: #FFF6E8; 
        }
.dropdown:hover .dropdown-content {
    display: block;
}
