nav {
    background-color: #c7e1ff;
    font-size: 25px;
}

    nav ul {
        display: flex;
        list-style: none;
    }

        nav ul li {
            margin: 20px;
            transition: 0.3s ease;
            border: 0px solid transparent;
            width: 120px;
            height: 30px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
        }

            nav ul li a {
                text-decoration: none;
                color: #4a90e2;
            }

            nav ul li:hover {
                box-shadow: 0px 0px 20px #f2c200;
                transform: scale(1.05);
                background-color: #afcffd;
            }

.reg {
    margin-left: 1000px;
}



.dropdown-content {
    display: none;
    position: absolute;
    top: 45px;
    background: #d9ecff;
    border-radius: 6px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    z-index: 100;
    overflow: hidden;
}

    .dropdown-content a {
        display: flex;
        flex-direction: column;
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.conteiner{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:200px;
}

.card {
    background: linear-gradient( 135deg, #F7FBFF, #F8F5FF, #FFF5F8 );
    border: 3px solid #4A90E2;
    width:600px;
    display:flex;
    flex-direction:column;
  align-items:center;
}
    .card h1 {
        color: #6A3BD9;
        align-self:center;
    }

    .card form{
     
       font-size:20px;
       
    }

    .form-group{
        margin-top:15px;
    }

    input{
        font-size:15px;
    }

.btn {
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.9rem;
    border-radius: 16px;
    border: none;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    background: linear-gradient(135deg, var(--green-dark), var(--blue-dark));
    color: #6A3BD9;
    transition: 0.3s;
}


    .btn:hover {
        transform: translateY(-3px) scale(1.02);
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }
.footer-text {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.9rem;
}


    .footer-text a {
        color: var(--pink-dark);
        text-decoration: none;
        font-weight: 600;
    }
