.conteiner{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:200px;
}

.card {
    background: linear-gradient( 135deg, #F7FBFF, #F8F5FF, #FFF5F8 );
    border: 3px solid #4A90E2;
    width:600px;
    display:flex;
    flex-direction:column;
  align-items:center;
}
    .card h1 {
        color: #6A3BD9;
        align-self:center;
    }

    .card form{
     
       font-size:20px;
       
    }

    .form-group{
        margin-top:15px;
    }

    input{
        font-size:15px;
    }

.btn {
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.9rem;
    border-radius: 16px;
    border: none;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    background: linear-gradient(135deg, var(--green-dark), var(--blue-dark));
    color: #6A3BD9;
    transition: 0.3s;
}


    .btn:hover {
        transform: translateY(-3px) scale(1.02);
        box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }
.footer-text {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.9rem;
}


    .footer-text a {
        text-decoration: none;
        font-weight: 600;
    }
